<main class="wrapper">
    <div class="area1">
      Estoy en el main Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo autem doloribus magnam
      cupiditate sint. Quos debitis alias tempora doloremque nostrum, soluta non at quia quis accusantium molestiae
      dolor, magni quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ad accusamus eligendi iusto soluta.
      Eligendi temporibus quo nemo ab sit dolore praesentium harum molestiae. Quia qui porro modi iste optio?

    </div>
    <div class="area2">
      Estoy en el main Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo autem doloribus magnam cupiditate
      sint. Quos debitis alias tempora doloremque nostrum, soluta non at quia quis accusantium molestiae dolor, magni
      quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ad accusamus eligendi iusto soluta. Eligendi
      temporibus quo nemo ab sit dolore praesentium harum molestiae. Quia qui porro modi iste optio?Estoy en el main Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo autem doloribus magnam cupiditate
      sint. Quos debitis alias tempora doloremque nostrum, soluta non at quia quis accusantium molestiae dolor, magni
      quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ad accusamus eligendi iusto soluta. Eligendi
      temporibus quo nemo ab sit dolore praesentium harum molestiae. Quia qui porro modi iste optio?Estoy en el main Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo autem doloribus magnam cupiditate
      sint. Quos debitis alias tempora doloremque nostrum, soluta non at quia quis accusantium molestiae dolor, magni
      quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ad accusamus eligendi iusto soluta. Eligendi
      temporibus quo nemo ab sit dolore praesentium harum molestiae. Quia qui porro modi iste optio?Estoy en el main Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo autem doloribus magnam cupiditate
      sint. Quos debitis alias tempora doloremque nostrum, soluta non at quia quis accusantium molestiae dolor, magni
      quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ad accusamus eligendi iusto soluta. Eligendi
      temporibus quo nemo ab sit dolore praesentium harum molestiae. Quia qui porro modi iste optio? Estoy en el main Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo autem doloribus magnam cupiditate
      sint. Quos debitis alias tempora doloremque nostrum, soluta non at quia quis accusantium molestiae dolor, magni
      quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ad accusamus eligendi iusto soluta. Eligendi
      temporibus quo nemo ab sit dolore praesentium harum molestiae. Quia qui porro modi iste optio?Estoy en el main Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo autem doloribus magnam cupiditate
      sint. Quos debitis alias tempora doloremque nostrum, soluta non at quia quis accusantium molestiae dolor, magni
      quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ad accusamus eligendi iusto soluta. Eligendi
      temporibus quo nemo ab sit dolore praesentium harum molestiae. Quia qui porro modi iste optio?Estoy en el main Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo autem doloribus magnam cupiditate
      sint. Quos debitis alias tempora doloremque nostrum, soluta non at quia quis accusantium molestiae dolor, magni
      quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ad accusamus eligendi iusto soluta. Eligendi
      temporibus quo nemo ab sit dolore praesentium harum molestiae. Quia qui porro modi iste optio?Estoy en el main Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo autem doloribus magnam cupiditate
      sint. Quos debitis alias tempora doloremque nostrum, soluta non at quia quis accusantium molestiae dolor, magni
      quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ad accusamus eligendi iusto soluta. Eligendi
      temporibus quo nemo ab sit dolore praesentium harum molestiae. Quia qui porro modi iste optio?Estoy en el main Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo autem doloribus magnam cupiditate
      sint. Quos debitis alias tempora doloremque nostrum, soluta non at quia quis accusantium molestiae dolor, magni
      quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ad accusamus eligendi iusto soluta. Eligendi
      temporibus quo nemo ab sit dolore praesentium harum molestiae. Quia qui porro modi iste optio?Estoy en el main Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo autem doloribus magnam cupiditate
      sint. Quos debitis alias tempora doloremque nostrum, soluta non at quia quis accusantium molestiae dolor, magni
      quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ad accusamus eligendi iusto soluta. Eligendi
      temporibus quo nemo ab sit dolore praesentium harum molestiae. Quia qui porro modi iste optio?Estoy en el main Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo autem doloribus magnam cupiditate
      sint. Quos debitis alias tempora doloremque nostrum, soluta non at quia quis accusantium molestiae dolor, magni
      quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ad accusamus eligendi iusto soluta. Eligendi
      temporibus quo nemo ab sit dolore praesentium harum molestiae. Quia qui porro modi iste optio?Estoy en el main Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo autem doloribus magnam cupiditate
      sint. Quos debitis alias tempora doloremque nostrum, soluta non at quia quis accusantium molestiae dolor, magni
      quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ad accusamus eligendi iusto soluta. Eligendi
      temporibus quo nemo ab sit dolore praesentium harum molestiae. Quia qui porro modi iste optio? Estoy en el main Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo autem doloribus magnam cupiditate
      sint. Quos debitis alias tempora doloremque nostrum, soluta non at quia quis accusantium molestiae dolor, magni
      quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ad accusamus eligendi iusto soluta. Eligendi
      temporibus quo nemo ab sit dolore praesentium harum molestiae. Quia qui porro modi iste optio?Estoy en el main Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo autem doloribus magnam cupiditate
      sint. Quos debitis alias tempora doloremque nostrum, soluta non at quia quis accusantium molestiae dolor, magni
      quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ad accusamus eligendi iusto soluta. Eligendi
      temporibus quo nemo ab sit dolore praesentium harum molestiae. Quia qui porro modi iste optio?Estoy en el main Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo autem doloribus magnam cupiditate
      sint. Quos debitis alias tempora doloremque nostrum, soluta non at quia quis accusantium molestiae dolor, magni
      quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ad accusamus eligendi iusto soluta. Eligendi
      temporibus quo nemo ab sit dolore praesentium harum molestiae. Quia qui porro modi iste optio?Estoy en el main Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo autem doloribus magnam cupiditate
      sint. Quos debitis alias tempora doloremque nostrum, soluta non at quia quis accusantium molestiae dolor, magni
      quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ad accusamus eligendi iusto soluta. Eligendi
      temporibus quo nemo ab sit dolore praesentium harum molestiae. Quia qui porro modi iste optio?
    </div>
  </main>