<main class="wrapper">
    <section class="area1">
        <div class="contenido">
            <h1 class="publish">PUBLISH YOUR NEWS HERE</h1>
            <form [formGroup]="miFormulario" (ngSubmit)="recogerDatosForm()">
                <div class="formTitle">
                    <label for="title">Title <div *ngIf="shouldShowTitleRequiredError()">Title is required.</div></label>
                    <input type="text" formControlName="title" placeholder="3 - 20 characters">
                </div>
                <div class="FPict">
                    <label for="url">Picture </label>
                    <input type="text" formControlName="url" placeholder="paste the url here">
                </div>
                <div class="formText">
                    <label for="text">Text </label>
                    <input type="text" formControlName="text" placeholder="30 - 300 characters">
                </div>
                <div class="formDate">
                    <label for="date">Date </label>
                    <input type="text" formControlName="date" placeholder="dd/mm/yy" >
                </div>
                <input [class]="miFormulario.valid ? 'post' : 'fillAll'" type="submit" [value]="miFormulario.valid ? 'Post' : 'Fill in all the fields'" [disabled]="miFormulario.invalid">
            </form>
        </div>

    </section>
    <section class="area2">
        <h1 class="hotNews">HOT NEWS</h1>
        <div class="article-container">
            <article *ngFor="let usuario of arrUsuarios; let i = index; let par = even; let impar = odd">
                <div class="usuario" [ngClass]="{'darkTeme': impar, 'lightTeme': par}">
                <div class="user-title-date">                
                <div class="userTitle">{{(usuario.title).toUpperCase()}}</div>
                <h3 class="date">{{usuario.date}}</h3>
                </div>
                <div class="userContent">
                <figure class="picture"><img [src]="usuario.url" alt=""></figure>
                <p class="pictureDescription">{{usuario.text}}</p>
                </div>
                <small>News Nº {{i+1}}</small>
                </div>
                
            </article>
        </div>
    </section>
  </main>