.wrapper {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 0px 32px 16px;
    
}

.area1{
    display: flex;
    flex-basis: 50%;
    height: min-content;
    border: 2px solid yellow;
    margin: 32px;
    padding-top: 250px;
}

.area2{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: center;
    border: 2px solid red;
    margin: 32px;
}

.usuario{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.33);
    box-shadow: 1px 1px 10px #444;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}


.darkTeme{
    background-color: rgba(25, 20, 20, 0.33);
    color: yellow;
}

.lightTeme{
    background-color: rgba(255, 255, 0, 0.348);
    font-weight: bold;
}

.article-container{
    display: flex;
    flex-direction: column-reverse;
}

.contenido{
    display: flex;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}